/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  :root{
    --color-Naranja:#FF9028 ;
    --color-Principal:#121e56ec;
    --color-texttos:white;
  }

img {
  display: block;
  margin: 0px auto;
  width: 90px;
  /* margin-top: 6px; */
  border-radius: 60%;
}

.navbar {
  margin-left: 10px;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar .navbar-toggler{
  border-color: var(--color-texttos);
}

.bi{
  color:var(--color-texttos);
  font-size: 2rem;
}

/* centrado de inicio */
.bi-house-door{
padding-left: 2px;
}

/* centrado del inventario */
.bi-pie-chart-fill{
  padding-left: 17px;
}

/* centrado del detalles */
.bi-card-list{
  padding-left: 10px;
}
/* centrado del pedidos*/
.bi-cart-check{
  padding-left: 9px;
}
/* centrado de ventas */
.bi-check-circle{
  padding-left: 2px;
}
/* centrado de Clientes */
.bi-person-circle{
  padding-left: 10px;
}

#ListaIconos{
  padding-left: 65px;
}

