@use "globals";

//seccion de formulario de productos
.sec-form-product {
  float: left;
  background-color: globals.$color-Principal;
  color: globals.$color-Naranja;
  padding: 1rem;
  margin: 0.25rem;
  border-radius: 10px;
  
}
.controls {
  margin: 8px;
     .controls-comp{
    margin: 8px;
    padding-left: 17px; 
    }
}
//Seccionn de busqueda
.sec-search-product {
  display: flex;
  .container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  input {
    border: 3px solid transparent;
    border-radius: 10px;
    background-color: #f3f3f4;
    text-align: center;
    margin-left: 5px;
  }

  input:focus{
    outline: none;
    border-color: globals.$color-Principal;
  }

  i{
    color: globals.$color-Principal;
   
  }
}
//Seccion de tabla detalleInventario
.sec-table-detproduct{
  display: flex;
  .container{
    text-align: center;
  }
}

//Button Update
.btn-update {
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: globals.$color-update;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: globals.$color-update;

  .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
    transition: 300ms;
  }
  .icon {
    position: absolute;
    transform: translateX(100px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  i {
    width: 15px;
    color: #eee;
  }
}
.btn-update:hover {
  background: globals.$color-update;
}
.btn-update:hover .text {
  color: transparent;
}
.btn-update:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}
.btn-update:focus {
  outline: none;
}
//Button Eliminar

.btn-delete{
  @extend .btn-update;
  background: globals.$color-eliminar;
  background: globals.$color-eliminar;
  color: globals.$color-eliminar;
  
}
.btn-delete:hover{
    background: globals.$color-eliminar;
}

//Button Cancelar
.btn-cancel{
    @extend .btn-update;
    background: globals.$color-cancelar;
    background: globals.$color-cancelar;
    color: globals.$color-cancelar;
}
.btn-cancel:hover{
    background: globals.$color-cancelar;
}
//Button Guardar
.btn-save{
    @extend .btn-update;
    background: globals.$color-guardar;
    background: globals.$color-guardar;
    color: globals.$color-guardar;
}
.btn-save:hover{
    background: globals.$color-guardar;
}