@use "globals";
//seccion de formulario de productos

.sec-form-product {
  float: left;
  background-color: globals.$color-Principal;
  color: globals.$color-Naranja;
  padding: 1rem;
  margin: 0.25rem;
  border-radius: 10px;
}

.controls{
    margin: 0.5rem;
}

.btn-update {
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;


  .text{
    transform: translateX(35px);
    color: white;
    font-weight: bold;
    transition: 300ms;  
}

  .icon{
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(100px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  i{
    width: 15px;
    color: #eee;
  }
 
}

.btn-update:hover{
    background: #ff3636;
}
.btn-update:hover .text{
    color: transparent;

}
.btn-update:hover .icon{
    width: 150px;
    border-left: none;
    transform: translateX(0);
}
.btn-update:focus{
    outline: none;
}



