html {
  min-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
}

$color-Naranja: #ff9028;
$color-Principal: #121e56ec;
$color-texttos: white;

$color-update:#0D6EFD;
$color-cancelar:#6C757D;
$color-guardar:#198754;
$color-eliminar:#ff3636;
