* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-Naranja:#FF9028 ;
  --color-Principal:#121e56ec;
  --color-texttos:white;
}

body {
  font-family: Arial;
  background-image: url("images/gotaslluvia.jpg");
}

.formulario {
  width: 400px;
  height: 400px;
  background-color: var(--color-Principal); /*color de fondo del formulario*/
  margin: auto;
  margin-top: 55px;
  box-shadow: 0px 1px 40px #f16100; /*color de la sombra*/
  padding: 20px 30px;
  border-top: 1px solid var(--color-Naranja); /*color del borde superior*/
  color: var(--color-texttos); /*color de las letras*/
  border-radius: 12px;
}

.formulario h2 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1.5px solid; /*linea debajo del inicio de sesion*/
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid var(--color-Naranja);/*borde de las cajas de texto*/
  margin-bottom: 15px;
  padding: 11px 10px;
  background: var(--color-Principal);
  font-size: 14px;
  font-weight: bold;
  color: var(--color-texttos);
  border-radius: 12px;
}

.controls:hover{
  background-color: var(--color-Naranja);
  border: solid 2px var(--color-texttos);
  box-shadow: 0 0 4px var(--color-texttos);
}

.controls:focus{
  background-color: var(--color-Naranja);
  border: solid 2px var(--color-texttos);
  box-shadow: 0 0 4px var(--color-texttos);
}

.buttons {
  width: 100%;
  height: 40px;
  background: var(--color-Principal);
  border-radius: 12px;
  border: 2px solid var(--color-Naranja);
  color: var(--color-texttos);
  margin-bottom: 16px;
  font-size: large;
  transition-duration:0.5;
}

.buttons:hover{
background-color: var(--color-Naranja);
cursor: pointer;
box-shadow: 0 0 4px var(--color-texttos);
}

.buttons:active{
  transform: translateY(2px);
}


.formulario p {
  height: 40px;
  text-align: center;
  border-bottom: 1.5px solid;/*linea superior del parrafo*/
}

.formulario a {
  color: var(--color-texttos);
  text-decoration: none;
  font-size: 14px;
}

.formulario a:hover {
  text-decoration: underline;
}

.formulario img{
  display: block;
  margin: 0px auto;
  width: 90px;
  margin-top: 6px;
  border-radius: 60%;
  
}
